.card {
  background-color: #3db10a;
  border-radius: 10px;
  color: white;
  /* max-width: 10rem; */
  width: 20em;
  min-height: 10rem;
  padding: 1rem;
  /* font-size: 100%; */
  font-size: 1em;
  animation: card-flip infinite 0.8s ease-in;
}

@keyframes card-flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
  }
}
