body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(to top, #db7092 20%, #d9a059 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  max-width: 100%; /* Prevents scrolling out of viewport to see cards at edge of screen. */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.center {
  align-items: center;
}
